<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Ticket Name</th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= link_to ticket.name, ticket %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
